<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br />
    <br />
    <br />
    <br />
    <a href="/">메인으로 이동</a>
    <br />
    <br />
    <a href="/admin/addItem">물품 추가</a>
    <br />
    <br />
    <a href="/admin/manageProduct">물품 관리</a>
    <br />
    <br />
    <a href="/admin/buyProduct">구매 현황</a>
    <br />
    <br />
    <a href="/admin/income">매출 현황</a>
    <br />
    <br />
    <a href="/admin/questions">질문 & 답변</a>

  </body>
</html>
